*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    font-family: sans-serif;
}
.navbar-brand{
    left: 0px;
    position: right;

}
.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.navbar-brand {
  color: black;
  position: fixed;
}
.navbar {
  color: black;
  font-size: large;
  font-weight: 400;
  margin-top: 10px;
  position: fixed;
}
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  position: right;

}
.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link, .nav-link.active{
  color: #666777;
  font-weight: 600;
  position: relative;
}

.nav-link:hover {
  color:black;
}

.nav-link::before {
  content: "";
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link::before, .nav-link.active::before {
  width: 100%;
  visibility: visible;
}
.dropdown_menu {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform: perspective(1000px) rotateY(-90deg);
  backface-visibility: hidden;
  position: relative;
}

.dropdown_menu.open {
  transform: perspective(1000px) rotateY(0deg);
  position: relative;
}


.toggle_btn {
  transition: transform 0.5s ease;
  position: relative;
}

.toggle_btn.open {
  transform: rotate(180deg);
  position: relative;
}
<!-------------- END NAVBAR ------------->
.conatiner{
  margin-top: 80px;
}
.section-title {
  position: relative;
  margin-top: 10%;
  font-weight: 700;
  text-align: center;
  padding-bottom: 19px;
  color: #ffb727;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  position: relative;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 3px solid #ffb727;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #ffb727;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #ffb727;
  border: 2px solid ffb727;
}
