*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
  }
  body{
    font-family: sans-serif;
  }
  .navbar-brand{
    left: 0px;
    position: right;
  
  }
  .video-bg{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .navbar-brand {
  color: black;
  position: fixed;
  }
  .navbar {
  color: black;
  font-size: large;
  font-weight: 400;
  margin-top: 10px;
  position: fixed;
  }
  .navbar-toggler {
  border: none;
  font-size: 1.25rem;
  position: right;
  
  }
  .navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
  }
  
  .nav-link, .nav-link.active{
  color: black;
  font-weight: 600;
  position: relative;
  }
  
  .nav-link:hover {
  color: #ffb727;
  }
  
  .nav-link::before {
  content: "";
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  }
  
  .nav-link::before, .nav-link.active::before {
  width: 100%;
  visibility: visible;
  }
  .dropdown_menu {
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    transform: perspective(1000px) rotateY(-90deg);
    backface-visibility: hidden;
    position: relative;
  }
  
  .dropdown_menu.open {
    transform: perspective(1000px) rotateY(0deg);
    position: relative;
  }
  
  
  .toggle_btn {
    transition: transform 0.5s ease;
    position: relative;
  }
  
  .toggle_btn.open {
    transform: rotate(180deg);
    position: relative;
  }
  <!-------------- END NAVBAR ------------->

  .conatiner{
    margin-top: 80px;
    position: relative;
  
  }

.testimonials{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding:50px 0;
  font-family:'Poppins', sans-serif
}
.testimonials::before{
  content:'';
  position: relative;
  right:0;left:0;top:0;
  
}
.testimonials .title {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}
.testimonials .title h5 {
  color: #ffb727;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: -3px;
  position: relative;
}
.testimonials .title h2 {
  color: #ffb727;
  line-height: 1.2em;
  font-weight: 900;
  font-size: 41px;
  letter-spacing: -1px;
  margin:0
}
.testimonials .title img {
  margin-top: -10px;
  position: relative;
}
.testimonials .title p {
  margin: 0 0 10px;
  margin-bottom: 0;
  color: #ffb727;
  position: relative;
}
.testimonials .testi .item {
  background: rgb(220,220,220);
  padding: 20px 10px;
  border-radius:15px;
  position: relative;
  margin-bottom: 2%;
}
.testimonials .testi .item .profile {
  display:flex;
  padding-left: 15px;
  position: relative;
}
.testimonials .testi .item .profile img {
  border-radius: 100%;
  width:50px;
  height:50px;
  object-fit:cover
  
}
.testimonials .testi .item .profile .information {
  padding-left:20px;
  margin-bottom:15px
}
.testimonials .testi .item .profile .information .stars i {
  color:#ffd832
}
.testimonials .testi .item .profile .information p {
  font-size: 24px;
  margin: 0px auto 0px;
  color: black;
  font-weight: 900;
  line-height: 1;
}
.testimonials .testi .item .profile .information span {
  color: #ffb727;
  font-weight: bold;
  margin-top: -4px;
  line-height: 1.6em;
  font-size: 14px;
}
.testimonials .testi .item>p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6em;
  display: block;
  z-index: 2;
  font-style: italic;
  color: black;
  text-align: center;
}
.testimonials .testi .item .icon {
  text-align: center;
}
.testimonials .testi .item .icon i {
  font-size: 32px;
  color: #FFD832;
}
.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffb727;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    align-items: center;
    margin-left: 48%;
  }
  
  
  .home-button:hover {
    background-color: #E7D889;
    position: relative;
    align-items: center;
  }
